.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-routes {
  display: inline-block;
}
.App-map {
  width: 350px;
  height: 400px;
  overflow: hidden;
  margin: 0px auto;
  display: inline-block;
  position: relative;
  border: 2px solid gray;
  vertical-align: top;
  margin-top: 32px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
